body {
overflow:hidden;
margin:0 auto;
background:#000000;
}

.bubble {
width:70px;
height:70px;
background-color:rgba(255,0,0,0.5);
border-radius:70px;
position:absolute;
  
-webkit-transform:rotate(30deg);
   -moz-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
     -o-transform:rotate(30deg);
        transform:rotate(30deg);

-webkit-animation:up 8s linear infinite;
   -moz-animation:up 8s linear infinite;
    -ms-animation:up 8s linear infinite;
     -o-animation:up 8s linear infinite;
        animation:up 8s linear infinite;
}

.bubble:nth-child(2) {
background-color:rgba(255,0,0,0.5);
margin-top:1010px;
left:70%;
}

.bubble:nth-child(3) {
background-color:rgba(255,0,0,0.5);
margin-top:650px;
left:25%;
}

.bubble:nth-child(4) {
background-color:rgba(255,0,0,0.5);
margin-top:0;
left:10%;

-webkit-animation:up 16s linear infinite;
   -moz-animation:up 16s linear infinite;
    -ms-animation:up 16s linear infinite;
     -o-animation:up 16s linear infinite;
        animation:up 16s linear infinite;

-webkit-transform:scale(0.4) rotate(30deg);
   -moz-transform:scale(0.4) rotate(30deg);
    -ms-transform:scale(0.4) rotate(30deg);
     -o-transform:scale(0.4) rotate(30deg);
        transform:scale(0.4) rotate(30deg);
}

.bubble:nth-child(5) {
background-color:rgba(255,0,0,0.5);
margin-top:-100px;
left:85%;

-webkit-animation:up 16s linear infinite;
   -moz-animation:up 16s linear infinite;
    -ms-animation:up 16s linear infinite;
     -o-animation:up 16s linear infinite;
        animation:up 16s linear infinite;

-webkit-transform:scale(0.4) rotate(30deg);
   -moz-transform:scale(0.4) rotate(30deg);
    -ms-transform:scale(0.4) rotate(30deg);
     -o-transform:scale(0.4) rotate(30deg);
        transform:scale(0.4) rotate(30deg);
}

.bubble:nth-child(6) {
background-color:rgba(255,0,0,0.5);
margin-top:80px;
left:50%;

-webkit-animation:up 16s linear infinite;
   -moz-animation:up 16s linear infinite;
    -ms-animation:up 16s linear infinite;
     -o-animation:up 16s linear infinite;
        animation:up 16s linear infinite;

-webkit-transform:scale(0.4) rotate(30deg);
   -moz-transform:scale(0.4) rotate(30deg);
    -ms-transform:scale(0.4) rotate(30deg);
     -o-transform:scale(0.4) rotate(30deg);
        transform:scale(0.4) rotate(30deg);
}

.bubble:nth-child(7) {
background-color:rgba(255,0,0,0.5);
margin-top:310px;
left:65%;

-webkit-animation:up 16s linear infinite;
   -moz-animation:up 16s linear infinite;
    -ms-animation:up 16s linear infinite;
     -o-animation:up 16s linear infinite;
        animation:up 16s linear infinite;

-webkit-transform:scale(0.4) rotate(30deg);
   -moz-transform:scale(0.4) rotate(30deg);
    -ms-transform:scale(0.4) rotate(30deg);
     -o-transform:scale(0.4) rotate(30deg);
        transform:scale(0.4) rotate(30deg);
}

.bubble:nth-child(8) {
background-color:rgb,(255,0,0,0.5);
margin-top:240px;
left:-5%;

-webkit-animation:up 16s linear infinite;
   -moz-animation:up 16s linear infinite;
    -ms-animation:up 16s linear infinite;
     -o-animation:up 16s linear infinite;
        animation:up 16s linear infinite;

-webkit-transform:scale(0.4) rotate(30deg);
   -moz-transform:scale(0.4) rotate(30deg);
    -ms-transform:scale(0.4) rotate(30deg);
     -o-transform:scale(0.4) rotate(30deg);
        transform:scale(0.4) rotate(30deg);
}

.bubble:nth-child(8) {
background-color:rgba(255,0,0,0.5);
margin-top:-120px;
left:50%;

-webkit-animation:up 12s linear infinite;
   -moz-animation:up 12s linear infinite;
    -ms-animation:up 12s linear infinite;
     -o-animation:up 12s linear infinite;
        animation:up 12s linear infinite;

-webkit-transform:scale(0.7) rotate(30deg);
   -moz-transform:scale(0.7) rotate(30deg);
    -ms-transform:scale(0.7) rotate(30deg);
     -o-transform:scale(0.7) rotate(30deg);
        transform:scale(0.7) rotate(30deg);
}

.bubble:nth-child(9) {
background-color:rgba(255,0,0,0.5);
margin-top:80px;
left:1%;

-webkit-animation:up 12s linear infinite;
   -moz-animation:up 12s linear infinite;
    -ms-animation:up 12s linear infinite;
     -o-animation:up 12s linear infinite;
        animation:up 12s linear infinite;

-webkit-transform:scale(0.7) rotate(30deg);
   -moz-transform:scale(0.7) rotate(30deg);
    -ms-transform:scale(0.7) rotate(30deg);
     -o-transform:scale(0.7) rotate(30deg);
        transform:scale(0.7) rotate(30deg);
}

.bubble:nth-child(10) {
background-color:rgba(255,0,0,0.5);
margin-top:185px;
left:20%;

-webkit-animation:up 12s linear infinite;
   -moz-animation:up 12s linear infinite;
    -ms-animation:up 12s linear infinite;
     -o-animation:up 12s linear infinite;
        animation:up 12s linear infinite;

-webkit-transform:scale(0.7) rotate(30deg);
   -moz-transform:scale(0.7) rotate(30deg);
    -ms-transform:scale(0.7) rotate(30deg);
     -o-transform:scale(0.7) rotate(30deg);
        transform:scale(0.7) rotate(30deg);
}

.bubble:nth-child(11) {
background-color:rgba(255,0,0,0.5);
margin-top:600px;
left:70%;

-webkit-animation:up 5s linear infinite;
   -moz-animation:up 5s linear infinite;
    -ms-animation:up 5s linear infinite;
     -o-animation:up 5s linear infinite;
        animation:up 5s linear infinite;

-webkit-transform:scale(0.4) rotate(30deg);
   -moz-transform:scale(0.4) rotate(30deg);
    -ms-transform:scale(0.4) rotate(30deg);
     -o-transform:scale(0.4) rotate(30deg);
        transform:scale(0.4) rotate(30deg);
}

.bubble:nth-child(12) {
background-color:rgba(255,0,0,0.5);
margin-top:-400px;
left:55%;

-webkit-animation:up 10s linear infinite;
   -moz-animation:up 10s linear infinite;
    -ms-animation:up 10s linear infinite;
     -o-animation:up 10s linear infinite;
        animation:up 10s linear infinite;

-webkit-transform:scale(0.7) rotate(30deg);
   -moz-transform:scale(0.7) rotate(30deg);
    -ms-transform:scale(0.7) rotate(30deg);
     -o-transform:scale(0.7) rotate(30deg);
        transform:scale(0.7) rotate(30deg);
}

.bubble:nth-child(13) {
background-color:rgba(255,0,0,0.5);
margin-top:50px;
left:30%;

-webkit-animation:up 6s linear infinite;
   -moz-animation:up 6s linear infinite;
    -ms-animation:up 6s linear infinite;
     -o-animation:up 6s linear infinite;
        animation:up 6s linear infinite;

-webkit-transform:scale(0.7) rotate(30deg);
   -moz-transform:scale(0.7) rotate(30deg);
    -ms-transform:scale(0.7) rotate(30deg);
     -o-transform:scale(0.7) rotate(30deg);
        transform:scale(0.7) rotate(30deg);
}

.bubble:nth-child(14) {
background-color:rgba(255,0,0,0.5);
left:40%;

-webkit-animation:up 15s linear infinite;
   -moz-animation:up 15s linear infinite;
    -ms-animation:up 15s linear infinite;
     -o-animation:up 15s linear infinite;
        animation:up 15s linear infinite;

-webkit-transform:scale(0.7) rotate(30deg);
   -moz-transform:scale(0.7) rotate(30deg);
    -ms-transform:scale(0.7) rotate(30deg);
     -o-transform:scale(0.7) rotate(30deg);
        transform:scale(0.7) rotate(30deg);
}

.bubble:nth-child(15) {
background-color:rgba(255,0,0,0.5);
margin-top:-400px;
left:20%;

-webkit-animation:up 13s linear infinite;
   -moz-animation:up 13s linear infinite;
    -ms-animation:up 13s linear infinite;
     -o-animation:up 13s linear infinite;
        animation:up 13s linear infinite;

-webkit-transform:scale(0.4) rotate(30deg);
   -moz-transform:scale(0.4) rotate(30deg);
    -ms-transform:scale(0.4) rotate(30deg);
     -o-transform:scale(0.4) rotate(30deg);
        transform:scale(0.4) rotate(30deg);
}

@-webkit-keyframes up {
from {top:150%; }
to   {top:-200%;}
}

@-moz-keyframes up {
from {top:150%; }
to   {top:-200%;}
}

@-ms-keyframes up {
from {top:150%; }
to   {top:-200%;}
}

@-o-keyframes up {
from {top:150%; }
to   {top:-200%;}
}

@keyframes up {
from {top:150%; }
to   {top:-200%;}
}